.flex-container {
    display: flex;
}

.textarea-container {
    width: 50%;
    padding: 10px;
}

.textarea {
    width: 100%;
    height: 100vh;
    padding: 10px;
}

.diagram-container {
    width: 50%;
    padding: 10px;
    border-left: 1px solid #ccc;
}
